<footer>
  <div class="container">
    <a href="https://github.com/prakash-v181" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/prakash181gupta" target="_blank">Linkedin</a>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/all.min.js"></script>
<script src="/js/app.js"></script>
