<header>
  <div class="container">
    <h1>Best Books</h1>
    <div id="barIcon" class="barIcon"><i class="fas fa-bars"></i></div>
    <!-- <div class="hamburger">
      <div class="bar"></div>
    </div> -->
    <nav id="nav">
      <a href="/">Home</a>
      <a href="/search">Search for a New Book</a>
    </nav>
  </div>
</header>